* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Azeret Mono', monospace;
}

html {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 24px;
}

main {
  width: max(325px, 40%);
  height: 100vh;
  margin: 0 auto;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #e6e6e6;
  padding: 1px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-bottom: 1px solid #e6e6e6;
}

.algo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30vh;
  margin: 1px;
  width: 20px;
}

.bar {
  width: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: cornflowerblue;
}

.being-compared {
  background-color: deeppink;
}


.bar-sorted {
  background-color: greenyellow
}

select {
  height: 2em;
}

button {
  margin: 7px;
  padding: 0.2rem;
}


@media (min-width: 1024px) { 
  .bar {
    width: 25px;
  }
  .bar-container {
    width: 25px;
    margin: 2px;
  }
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 1900px) { 
  .bar {
    width: 30px;
  }
  .bar-container {
    width: 30px;
    margin: 2px;
  }
}