* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Azeret Mono', monospace;
}

html {
  height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 24px;
  font-weight: 550;
}

h2 {
  font-size: 20px;
  text-decoration: underline;
}

main {
  width: max(325px, 40%);
  height: 100%;
  margin: 0 auto;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #e6e6e6;
  padding: 1px;
}

header {
  width: max(325px, 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border: solid #e6e6e6;
  border-width: 0 1px 1px 1px;
}

.algo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30vh;
  margin: 1px;
  width: 12px;
}

.bar {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: rgb(109, 159, 245);
}

.being-compared {
  background-color: rgb(243, 104, 178);
}


.bar-sorted {
  background-color: rgb(203, 253, 129);
}

select {
  height: 2em;
}

button {
  margin: 7px;
  padding: 0.2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
article {
  padding: 1.5rem;
}

@media (min-width: 1024px) { 
  .bar {
    width: 100%;
  }
  .bar-container {
    width: 16px;
    margin: 1px;
  }
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 1900px) { 
  .bar {
    width: 100%;
  }
  .bar-container {
    width: 30px;
    margin: 1px;
  }
}

footer {
  width: max(325px, 40%);
  font-size: small;
  border: solid #e6e6e6;
  margin: 0 auto;
  border-width: 1px 1px 0 1px;
}

.btn-speed {
  font-size: small;
  width: 60px;
}
